# Lab 2 Exercises

## Exercise 1 - List Comprehension

Re-implement exercise 9 from Lab 1 using list comprehension. Given a list containing product prices and the value-added tax (VAT), create a list containing the prices after tax.

In [10]:
prices = [10.0, 23.0, 95.0, 40.0, 65.0]
vat = 0.14

# your code below

Re-implement the list comprehension with the following new information: products/services sold under 50 units of currency are exempt from tax

_Hint: inline if expression_

## Exercise 2 - Looping, Conditionals and Function Calling

Complete the following function named `decode` that takes in a string, and returns its hidden message (encoded using upper case letters).

Useful reference: [python's documentation on string methods](https://docs.python.org/3/library/stdtypes.html#string-methods)

In [11]:
# function definition
def decode(message):
    decoded_message = ''

    # your code here

    return decoded_message


msg = 'steganograpHy is the practicE of conceaLing a fiLe, message, image, Or video Within anOtheR fiLe, message, image, or viDeo.'

decode(msg)

''

## Exercise 3 - Preprocessing w/ List Comprehension

Use the string instance functions `lower()`, `strip()`, `replace(' ', '_')` (to replace spaces with underscores) using list comprehension to normalize the following list of column names.

Useful reference: [python's documentation on string methods](https://docs.python.org/3/library/stdtypes.html#string-methods)

In [12]:
column_names = ["Id", "FIRST NAME", "Last name", "gender", "contact Number", " SSN", "TYPE  ", "  PO Box  "]

# your code here

Re-implement your solution using `lambda` and `map`

## Exercise 4 - Functions and List Comprehension / Mapping

Mini-scenario: As part of an analysis on automotive sales, you'd like to find out the most popular paint color group.

Create a function that takes a paint color and returns its general color classification. For simplicity, assume that all the car paint colors are written in English, and follow the pattern `'{Adjective|Noun} {Color}'`.

Example Input: `'Metallic Blue'`

Example Output: `'Blue'`

_Hint: consider using `split` [(python documentation page)](https://docs.python.org/3/library/stdtypes.html#str.split)_

In [13]:
# function definition

Apply the function over the following column of data and create a new list containing the generalized color of each car paint in `car_paint_column`

In [14]:
car_paint_column = ['Pearl White', 'British Racing Green', 'Burgundy Red', 'Electric Blue', 'Titanium Grey', 'Lime Green', 'Midnight Black', 'Ivory White', 'Pearl Black', 'Pearl Green', 'Midnight Blue', 'Jet Black']

# applying the function

## Exercise 5 - Extracting Information from Text (üå∂Ô∏è)

*Note: üå∂Ô∏è signifies optional challenging exercises*

Mini-scenario: you've chosen to scrape Wikipedia articles to construct a large dataset of wildlife and fauna found in Egypt as part of a wildlife research project, which you'll use as a basis for further modification.

Given the below excerpt from the Wikipedia article on birds in Egypt, extract the common name and the scientific name of each bird, save them in a dictionary with the keys `common_name`, `scientific_name` and append them to a list called `bird_dataset`.

Example Output:
```python
[{'common_name': 'Common ostrich',
  'scientific_name': ' Struthio camelus'},
 {'common_name': 'North African ostrich',
  'scientific_name': ' Struthio camelus camelus'},
 {'common_name': 'Arabian ostrich',
  'scientific_name': ' Struthio camelus syriacus (X)'},
 ...
]
```

**Bonus challenge:** for each bird, extract the bird's category, order and family as well and add them with the keys `category`, `order` and `family`

Data source: ["Wikipedia: List of birds in Egypt."](https://en.wikipedia.org/wiki/List_of_birds_of_Egypt)

In [15]:
scraped_text ="""\
Ostriches[edit]

Order: Struthioniformes   Family: Struthionidae

The ostrich is a flightless bird native to Africa. It is the largest living species of bird. It is distinctive in its appearance, with a long neck and legs and the ability to run at high speeds.

    Common ostrich, Struthio camelus
        North African ostrich, Struthio camelus camelus
        Arabian ostrich, Struthio camelus syriacus (X)

Cranes[edit]

Order: Gruiformes   Family: Gruidae

Cranes are large, long-legged and long-necked birds. Unlike the similar-looking but unrelated herons, cranes fly with necks outstretched, not pulled back. Most have elaborate and noisy courting displays or "dances".

    Demoiselle crane, Anthropoides virgo; Ancient Egyptian wDc 'splitter' (??)
    Common crane, Grus grus; Ancient Egyptian: D3.t 'the one stretching/reaching' or 'borer'

Hawks, eagles, and kites[edit]

Order: Accipitriformes   Family: Accipitridae

Accipitridae is a family of birds of prey, which includes hawks, eagles, kites, harriers and Old World vultures. These birds have powerful hooked beaks for tearing flesh from their prey, strong legs, powerful talons and keen eyesight.

    Black-winged kite, Elanus caeruleus
    Bearded vulture, Gypaetus barbatus
    Egyptian vulture, Neophron percnopterus; Ancient Egyptian: 3 (the hieroglyph) 'one who treads ?
    European honey-buzzard, Pernis apivorus
    Oriental honey-buzzard, Pernis ptilorhynchus (A)
    Cinereous vulture, Aegypius monachus
    Lappet-faced vulture, Torgos tracheliotos
    White-backed vulture, Gyps africanus (A)
    R√ºppell's vulture, Gyps rueppelli
    Eurasian griffon, Gyps fulvus; Ancient Egyptian: nr(w) 'terrifying one'
    Bateleur, Terathopius ecaudatus
    Short-toed snake-eagle, Circaetus gallicus
    Lesser spotted eagle, Clanga pomarina
    Greater spotted eagle, Clanga clanga
    Wahlberg's eagle, Hieraaetus wahlbergi (A)
    Booted eagle, Hieraaetus pennatus
    Tawny eagle, Aquila rapax (A)
    Steppe eagle, Aquila nipalensis
    Imperial eagle, Aquila heliaca
    Golden eagle, Aquila chrysaetos
    Verreaux's eagle, Aquila verreauxii
    Bonelli's eagle, Aquila fasciata
    Gabar goshawk, Micronisus gabar (A)
    Eurasian marsh-harrier, Circus aeruginosus
    Hen harrier, Circus cyaneus
    Pallid harrier, Circus macrourus
    Montagu's harrier, Circus pygargus
    Levant sparrowhawk, Accipiter brevipes
    Eurasian sparrowhawk, Accipiter nisus
    Northern goshawk, Accipiter gentilis
    Red kite, Milvus milvus
    Black kite, Milvus migrans; Ancient Egyptian: Dr/Dr.t (possibly) 'one who grasps/holds'
    White-tailed eagle, Haliaeetus albicilla
    African fish-eagle, Haliaeetus vocifer (A)
    Yellow-billed kite, Milvus aegyptius
    Common buzzard, Buteo buteo; Ancient Egyptian: tyw 'shrieker' (like ti3w) or 'treader' (like tiw(?)
    Long-legged buzzard, Buteo rufinus

Storks[edit]

Order: Ciconiiformes   Family: Ciconiidae

Storks are large, long-legged, long-necked, wading birds with long, stout bills. Storks are mute, but bill-clattering is an important mode of communication at the nest. Their nests can be large and may be reused for many years. Many species are migratory.

    African openbill, Anastomus lamelligerus (A)
    Black stork, Ciconia nigra
    White stork, Ciconia ciconia
    Marabou stork, Leptoptilos crumenifer (A)
    Yellow-billed stork, Mycteria ibis

Bulbuls[edit]

Order: Passeriformes   Family: Pycnonotidae

Bulbuls are medium-sized songbirds. Some are colourful with yellow, red or orange vents, cheeks, throats or supercilia, but most are drab, with uniform olive-brown to black plumage. Some species have distinct crests.

    Common bulbul, Pycnonotus barbatus
    White-spectacled bulbul, Pycnonotus xanthopygos
"""

# your code below

## DataFrames

The exercises below will be using the `world_factbook.csv` dataset used in the lab notebook.

In [16]:
import numpy as np
import pandas as pd

# Try/Except block to load the data remotely for Google Colab users
try:
    df = pd.read_csv('../data/world_factbook.csv')
except FileNotFoundError:
    data_url = 'https://raw.githubusercontent.com/GUC-DM/Summer2025/refs/heads/main/data/world_factbook.csv?token=GHSAT0AAAAAADG2KIMZ3D7P2LTP7IYWUMFG2DI4TPA'
    df = pd.read_csv(data_url)
df.head()

,country,region,population,area,density,coastline,migration,infant_mortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,2.173990e+10,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,1.611745e+10,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,1.975805e+11,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,4.623520e+08,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,1.352819e+09,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

_Note: the column names have been simplified for ease of access. The original more descriptive column names are shown below._

\# | Column
---|  ------
0  | Country
1  | Region
2  | Population
3  | Area (sq. mi.)
4  | Pop. Density (per sq. mi.)
5  | Coastline (coast/area ratio)
6  | Net migration
7  | Infant mortality (per 1000 births)
8  | GDP (in \$US)
9  | Literacy (\%)
10 | Phones (per 1000)
11 | Arable (\%)
12 | Crops (\%)
13 | Other (\%)
14 | Climate
15 | Birthrate (per 1000)
16 | Deathrate (per 1000)
17 | Agriculture (\%)
18 | Industry (\%)
19 | Service (\%)

## Exercise 6

Display the top 10 and bottom 10 countries according to their literacy rate

## Exercise 7

Which country has more phones than citizens?

## Exercise 8

Display the total world population and GDP by applying `sum()` on the population and GDP column

## Exercise 9

Display the total area of each region. Which region occupies the most area?

## Exercise 10

Create a new column called `net_pop_increase` based on `birthrate` - `deathrate`. Which countries had the largest increase? Which had the lowest increase?

## Exercise 11

Aggregate the `net_pop_increase` column you calculated in exercise 5 per region. Which region had the largest total increase? Which region had the lowest total increase?